.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.txt-compraExitosa{
    text-align: center;
}

.txt-title{
    text-align: center;
}

.form-container-label{
    width: 600px;
    height: 450px;
    background-color:#333344;
    margin-top:20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    border-radius: 5px;
    justify-content: center;
   
}




.input-style{
   
    width: 500px;
    height: 40px;
    border-radius: 5px;
    background-color: white;
   
}

.btn-submit{
    background-color:white;
    color:#333344;
    margin-left: 20px;
    margin-top: 20px;
    height: 30px;
    width: 100px;
    border-radius: 5px;
}