.container{
    display:flex;
    flex-direction: column;
    
}


.container-count{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:20px

}

.button-counter{
    background-color:#333344;
    border-radius: 5px;
    height: 30px;
    width: 30px;
    color: white;
}

.button-add{
    background-color:#333344;
    border-radius: 5px;
    height: 30px;
    width: 120px;
    color: white;
}

